<div class="bottom-submit bg-gray-300 pt-2 pb-2">
  <%= form_for(@message, url:{controller: "messages",action: "create"},html: {class: 'user'}) do |form| %>
    <div>
      <%= form.text_area :message, class: "form-controller col-9 mt-2", placeholder: "メッセージを入力" %>
      <span class="picture"> 
        <%= form.label :picture, for: "file-input", class: "far fa-image" do %>
        <%= form.file_field :picture, id: "file-input",  accept: 'image/jpeg,image/gif,image/png',style: "display: none"  %>
        <% end %>
      </span>
      <%= button_tag type: "submit", class: "btn btn-default pl-1" do %>
        <i class="fas fa-caret-square-right"></i>
      <% end %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $('#message_picture').bind('change',function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert('Maximum file size is 5MB. please choose a smaller file');
    }
  });
</script>


