<%= render "messages/header" %>

<% b_id = 0 %>

<div class="container messages">
  
  <%= paginate @data %>
  <div class="row jscroll data-list">
  
  <% @data.each do |obj| %>
  
    <% if current_account.id == obj.account_id %>

      <% if obj.account_id != b_id %>
        <% b_id = obj.account_id %>
        <div class="chat-box1 col-12 text-right">
          <p><%= obj.created_at.to_s(:datetime_jp) %></p>
          <%= render "messages/hukidashi" , object: obj %>
        </div>
      <% else %>
        <div class="chat-box1 col-12 text-right">
          <%= render "messages/hukidashi" , object: obj %>
        </div>  
      <% end %>

    <% else %>

      <% if obj.account_id != b_id %>
        <div class="chat-box2 col-12">
          <div class="chat-face ">
            <% b_id = obj.account_id %>
          </div>
          <p><%= obj.account.email %>, <%= obj.created_at.to_s(:datetime_jp) %></p>
          <%= render "messages/hukidashi" , object: obj %>
        </div>
      <% elsif obj.account_id == b_id %>
        <div class="chat-box3 col-12">
          <%= render "messages/hukidashi" , object: obj %>
        </div>
      <% end %>

    <% end %>
  <% end %>
  <%= paginate @data %>
  </div>
</div>

<%= render "messages/submit" %>

<script>

var pos = $("#<%= @data.last.id %>").offset();
$(window).load(function(){
  $('html,body').scrollTop(0);
});

$(function() {
  var pos = $("#<%= @data.last.id %>").offset();
  $(window).load(function(){
    $('html,body').scrollTop(0);
  });
  
  $('#app-link').off("click"); // ねんのため
  $('#app-link').on("click", function(evt) {
    evt.preventDefault(); // リンク(a tag)のデフォルトの動作を抑止
    evt.stopPropagation(); // eventの伝播を止める
    $(window).scrollTop(0) ;
  });
  $(window).on("scroll",function(){
    scrollHeight = $(document).height();
    scrollPosition = $(window).height() + $(window).scrollTop();
    if((scrollHeight - scrollPosition)/scrollHeight <= 0.05){
      $('.jscroll').jscroll({
        loadingHtml: '読み込み中',
        autoTrigger: true,
        padding: 6,
        contentSelector: '.data-list',
        nextSelector: 'span.next:last a'
      });
    }
  });
});
</script>
